POSTGRES_USER=dcs_admin
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=dcs_eventstore
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
VAULT_TOKEN=CHANGE_ME_VAULT_TOKEN
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
POS_PORT=3000
